    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Me</h2>
              <h4>"괜찮은 개발자"</h4>
              <br/>
                <p></p>
                <p>어릴때 부터 컴퓨터하는 것을 재밌어했고, 무언가를 만들고 결과물을 보았을 때 성취감을 많이 느꼈습니다.</p>
	     <p>그래서 개발자의 꿈을 갖게 되었고, 빠르게 변화하는 IT분야에서 항상 발전해야하는 개발자라는 직업으로 저를 더욱 성장시켜 이 분야의 전문가가 될 것입니다.
                <p>잘한다는 기준은 사람마다 다르고, 기술뿐아니라 인간적인 모습으로도 </p>
                <p>저는 누군가에게 "저 사람 괜찮네"라는 말을 듣는 개발자가 되고 싶습니다.</p>
                <br/>
              </div>
        </div>
    </section>
